@* This is a placeholder for manually switching between light and dark mode *@

@{
    // Manually change this value to "dark-theme" or "light-theme"
    var theme = "light-theme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info" role="alert">
    <strong>Theme:</strong> @theme <br />
    (To change, edit the variable in <code>_ThemeSwitcher.cshtml</code>)
</div>

@* This variable will be referenced in _Layout.cshtml later to change the <body> class *@
